<h3>Уважаемый(ая) <%= @order.name %></h3>
<p>
  Администрация магазина Pragmatic Store благодарит Вас за недваний заказ.
</p>
<h5>Вы заказали следующий товар:</h5>

<table>
  <tr>
    <th colspan="2">К-во</th>
    <th colspan="2">Описание</th>
  </tr>
  <%= render @order.line_items -%>
</table>

<p>Когда Ваш заказ будет отправлен, мы вышлем Вам по электронной почте отдельное сообщение.</p>
